h2, h1 {
    font-family: 'Quicksand', sans-serif;
    color: #B9944B
}

#first-row {
    border: none;
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: #B9944B;
    height: 100vh;
}

#second-row {
    border: none;
    text-align: center;
    margin-top: 2.5%;
}

.center {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.paragraph {
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer {
    border: none;
    text-align: center;
    margin-top: 2%;
    color: #B9944B;
}

ol {
    text-align: justify;
    margin: 10%;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.draw-border {
    box-shadow: inset 0 0 0 2px #BFBFBF;
    color: #BFBFBF;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.draw-border::after {
    border-top-width: 2px;
    border-right-width: 2px;
}

.draw-border:hover {
    color: #B9944B;
}

.draw-border:hover::before, .draw-border:hover::after {
    border-color: #B9944B;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}
 
.btn {
    color: #B9944B;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem "Quicksand", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    margin-top: 1%;
}

.btn:focus {
    outline: 2px dotted #D1D1D1;
}

.center-btn {
    text-align: center;
    justify-content: center;
    display: flex;
    height: 15%;
    margin: 0 auto;
    position: relative;
}